@CHARSET "UTF-8";
.comments-form label {display: block; margin-bottom:0.3em;}
.comments-form .input {width: 100%;}
.comments-form img {vertical-align: top; cursor:pointer;}
.comments-form .comment-verify {font-size: 40px;height: 48px; width: 80px; width: 3em; margin-top:0; padding:0;}
.comments-form .row {margin-bottom: 10px}
.comments-form input.submit {height: 50px; float: right; font-weight: bold; font-size: 1.4em; padding: auto 2em;}
.comments-form .refresh { float: left; margin:12px 1em 0 0; }